{% extends 'base.html' %}
{% load static %}
{% block body %}
     
      <!-- section --> 
<div class="About-bg">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="aboutheading">
               <h3>category<span class="orange_color"><br>{{category.name}}</span></h3>
            </div>
         </div>
      </div>
   </div>
</div>



      <div class="section layout_padding">
         <div class="container">
            {% for blog in blogs %}
            <div class="row margin_top_30">
               <div class="col-md-6">
                  <a href="{{blog.get_url}}"><img src="{{blog.image.url}}" alt="#" /></a>
               </div>
               <div class="col-md-6">
                  <div class="full blog_cont">
                     <h4>{{blog.name}}</h4>
                     <h5>{{blog.created}}</h5>
                     <h5>{{blog.updated}}</h5>
                     <p>{{blog.desc|truncatewords:20}}</p>
                  </div>
               </div>
            </div>
             {% endfor %}

            <div class="row margin_top_30">
               <div class="col-md-12">
                  <div class="button_section full center margin_top_30">
                     <a style="margin:0;" href="">Read More</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end section -->
     
      <!-- footer -->
{% endblock %}